[submodule "mcmojave-circle-icon-theme-git"]
	path = mcmojave-circle-icon-theme-git
	url = https://aur.archlinux.org/mcmojave-circle-icon-theme-git
[submodule "mojave-gtk-theme-git"]
	path = mojave-gtk-theme-git
	url = https://aur.archlinux.org/mojave-gtk-theme-git
[submodule "docker-ipv6nat"]
	path = docker-ipv6nat
	url = https://aur.archlinux.org/docker-ipv6nat
[submodule "qt5-base-headless"]
	path = qt5-base-headless
	url = https://aur.archlinux.org/qt5-base-headless.git
[submodule "01-libnvidia-container"]
	path = 01-libnvidia-container
	url = https://aur.archlinux.org/libnvidia-container.git
[submodule "02-libnvidia-container-tools"]
	path = 02-libnvidia-container-tools
	url = https://aur.archlinux.org/libnvidia-container.git
[submodule "03-nvidia-container-toolkit"]
	path = 03-nvidia-container-toolkit
	url = https://aur.archlinux.org/nvidia-container-toolkit.git
[submodule "04-nvidia-container-runtime"]
	path = 04-nvidia-container-runtime
	url = https://aur.archlinux.org/nvidia-container-runtime.git
[submodule "cairo-minimal"]
	path = cairo-minimal
	url = https://aur.archlinux.org/cairo-minimal.git
[submodule "01-libva-headless"]
	path = 01-libva-headless
	url = https://aur.archlinux.org/libva-headless.git
[submodule "02-ffmpeg-headless"]
	path = 02-ffmpeg-headless
	url = https://aur.archlinux.org/ffmpeg-headless.git
