[submodule "mcmojave-circle-icon-theme-git"]
	path = mcmojave-circle-icon-theme-git
	url = https://aur.archlinux.org/mcmojave-circle-icon-theme-git
[submodule "mojave-gtk-theme-git"]
	path = mojave-gtk-theme-git
	url = https://aur.archlinux.org/mojave-gtk-theme-git
[submodule "docker-ipv6nat"]
	path = docker-ipv6nat
	url = https://aur.archlinux.org/docker-ipv6nat
[submodule "qt5-base-headless"]
	path = qt5-base-headless
	url = https://aur.archlinux.org/qt5-base-headless.git
[submodule "aur-package-alvr-git"]
	path = aur-package-alvr-git
	url = https://git.tmon8.ru/comminux/aur-package-alvr-git.git
